@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Todo List App</h1>
    <p>Please register as a new user or login as an existing user and make your own todo lists. </p>
</div>
