@page "{id}"
@model TodoList.Pages.TodoItem.Delete
@{
    ViewData["Title"] = "Delete";
}

<h1>@ViewData["Title"]</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="TodoItem.Text"></label>
        <input asp-for="TodoItem.Text" class="form-control" disabled />
    </div>
    
    <button type="submit" class="btn btn-danger">Delete</button>
</form>